#task-form {
    margin-top: 10px;
}

#checkbox1 {
    margin: 4px;
    margin-top: 10px;
}

:checked + label {
    text-decoration: line-through;
    color: grey;
}
  
input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}